<html>
<head>
	<title>Metaphor</title>
</head>
<body>
    {{#translation}}
      <b>Translation:</b><br/>
      <textarea rows=20 cols=80>{{json}}</textarea><br/>
      Provenance: {{#provenance}}<a href={{{url}}}>{{url}}</a>{{/provenance}}
    {{/translation}}
</body>
</html>