AuthName "Reload categoricaldata.net server"
AuthType Basic
AuthUserFile "/Users/scott/projects/metaphor/src/site/reload/.htpass"
Require user categoricaldata

Options +ExecCGI
AddHandler cgi-script cgi
